.link {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;

  &:hover {
    color: var(--text-color);
    opacity: 0.8;
  }
}

.active {
  opacity: 0.7;
}
